# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# MacOS
.DS_Store

# Logs
*.log

# Coverage / test
.coverage
htmlcov/
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
*.tar
*.pid

# Build / dist
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Deployment folder (ของคุณ)
.deployment/

# Runtime files
*.sqlite3
instance/

